form{
  display: flex;
  justify-content: center;
  margin: 0 0 25px 0;
    & input{
      width: 569px;
      height: 40px;
      padding: 10px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 5px;
      margin: 0 10px 0 0;
   }

   & button{
      background: #459DE9 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 5px;
      font-size: 14px;
      padding: 10px 43.5px;
      color: #FFFFFF;
   }
}

